.navbar {
    width: 100vw;
    height: 42px;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* background-color: var(--mantine-color-dark-7); */
    background-color: #222;
}

.link {
    all: unset;
    cursor: pointer;
    color: var(--mantine-color-white);

    &[data-active] {
        font-weight: bold;
    }
}

.linkList {
    display: flex;
    gap: 15px;
}