.page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.map {
    width: 100%;
}


/* .optionsGroup {} */

.optionsItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: var(--mantine-spacing-xs) 0;
}

.optionsLabel {
    width: 80px;
    text-align: right;
}

.label {
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.title {
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
}


/* .gradient .domain-min {
    position: absolute;
    left: 0;
    font-size: 11px;
    bottom: 3px;
}

.gradient .domain-med {
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    font-size: 11px;
    bottom: 3px;
}

.gradient .domain-max {
    position: absolute;
    right: 0;
    font-size: 11px;
    bottom: 3px;
}

.grad-step {
    display: inline-block;
    height: 20px;
    width: 1%;
} */

/* .layerConfigs {
    .content {
    }
} */