:root[data-mantine-color-scheme="dark"] {
    --color-primary: #1A1A20;
    --color-secondary: var(--mantine-color-gray-8);
    --color-tertiary: #222327;
    --color-action: #1553B8;
    --color-text-primary: var(--mantine-color-gray-3);
    --color-text-highlight: white;
    --color-text-disabled: var(--mantine-color-gray-6);
    --color-highlight: var(--mantine-color-gray-7);
    --color-control-background: var(--mantine-color-dark-8);
}

:root[data-mantine-color-scheme="light"] {
    --color-primary: var(--mantine-color-gray-3);
    --color-secondary: var(--mantine-color-gray-4);
    --color-tertiary: var(--mantine-color-gray-5);
    --color-highlight: var(--mantine-color-gray-6);
    --color-action: #1553B8;
    --color-text-primary: var(--mantine-color-gray-9);
    --color-text-highlight: #111;
    --color-text-disabled: var(--mantine-color-gray-6);
    --color-control-background: var(--mantine-color-gray-1);
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* color-scheme: dark; */
}

.unset {
    all: unset;
}