
#dashboard {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#dashboard-error-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
}

#dashboard-view-content {
    padding: 10px;
    box-sizing: border-box;
}

#dashboard-empty-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.25em;
}

.dashboard-empty-create-button {
    all: unset;
    color: #1553B8;
    text-decoration-line: underline;
    cursor: pointer;
}

#dashboard-grid-view {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-grid-cell {
    width: 200px;
    height: 200px;
    border: 2px solid lightgray;
    background-color: #F8F8F8;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dashboard-grid-cell:hover {
    border: 2px solid #061937;
}

.dashboard-grid-cell:active {
    background-color: #EEE;
}

.dashboard-grid-cell-preview {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 20px;
    flex-grow: 1;
}

.dashboard-grid-cell-title {
    margin: 10px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-grid-cell-title span {
    vertical-align: middle;
    text-align: center;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dashboard-list-view ul {
    margin: 0;
    padding: 0 10px;
}

#dashboard-list-view li {
    cursor: pointer;
}

#dashboard-list-view li span {
    text-decoration-line: underline;
    color: #1553B8;
}

#topic-select-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#topic-details-edit-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
}

#topic-data-edit-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
}

.topic-view-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topic-user-grid-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topic-editable-picklist-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#topic-user-picklist-editable-container {
    cursor: pointer;
}