#temp-container {
    height: 96vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.page-content-container {
    overflow: hidden;
    height: 100%;
}

.page-content {
    overflow-y: auto;
    flex: 1 1 auto;
}