#temp-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.base-page {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.base-body {
    flex: 1 1 auto;
    overflow-y: auto;
}