.sidebar {
    /* width: 22%; */
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    /* transition: width 250ms ease-in-out; */

    .header {
        color: var(--color-text-highlight);
        font-weight: 700;
        /* margin: var(--mantine-spacing-xs) var(--mantine-spacing-md); */
        /* TODO: want padding/margin here but the current way i collapse the sidebar is incompatible */
        border-bottom: solid 1px var(--color-highlight)
    }

}

.content {
    width: 100%;
    overflow-y: scroll;
}

.nav {

    /* width: 64px; */
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    border-right: solid 1px var(--color-secondary);

    .item {
        padding: var(--mantine-spacing-xs);
        color: var(--color-text-primary);

        display: flex;
        align-items: center;
        justify-content: center;

        &[data-active] {
            background-color: var(--color-highlight);
            color: var(--color-text-highlight);
        }

        &:hover {
            background-color: var(--color-primary);
        }
    }
}