.page {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--color-primary);
}

.map {
    width: 100%;
    position: relative;
}

.label {
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.title {
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
    color: var(--color-text-primary);
}

.titleDisabled {
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
    color: var(--color-text-disabled);
}

.gradStep {
    padding-top: 2px;
    display: inline-block;
    height: 20px;
    /* height: 100%; */
    width: 1%;
}

.layerConfigs {
    .root {
        color: var(--color-text-primary);
    }

    .chevron,
    .control,
    .label,
    .control:hover {
        color: var(--color-text-primary);
        background-color: var(--color-secondary);
    }

    .item {
        border-bottom: solid 1px var(--color-highlight);
    }
}

.selectedFeatureInfo {
    position: absolute;
    display: inline-block;
    height: auto;
    width: auto;
    z-index: 100;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    left: 50%;
    transform: translateX(3%);
    visibility: hidden;
    pointer-events: none;
}

.legend {
    /* height: 200px; */
    width: 300px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    z-index: 100;
    border-radius: 5px;
    padding: var(--mantine-spacing-xs);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    opacity: 0.9;
}

.legendTitle {
    font-weight: 700;
    color: var(--color-text-highlight);
}

.legendMarks {
    display: flex;
    justify-content: space-between;
}

.legendToggleButton {
    top: 65px;
    left: .5em;
}

.scaleLineToggleButton {
    left: .5em;
    top: 95px;
}

.scale {
    color: var(--color-text-highlight);
    background-color: var(--color-secondary);
    padding: 5px;
    opacity: 0.9;

    .scale {
        border: solid 1px var(--color-text-highlight);
        border-top: none;
        padding: 0;
    }
}