.page {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--color-primary);
}

.map {
    width: 100%;
    position: relative;
}

.label {
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.title {
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
    color: var(--color-text-primary);
}

.titleDisabled {
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
    color: var(--color-text-disabled);
}

.gradient .domainMin {
    position: absolute;
    left: 0;
    font-size: 11px;
    bottom: 3px;
}

.gradient .domainMed {
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    font-size: 11px;
    bottom: 3px;
}

.gradient .domainMax {
    position: absolute;
    right: 0;
    font-size: 11px;
    bottom: 3px;
}

.gradStep {
    display: inline-block;
    height: 20px;
    width: 1%;
}

.layerConfigs {
    .root {
        color: var(--color-text-primary);
    }

    .chevron,
    .control,
    .label,
    .control:hover {
        color: var(--color-text-primary);
        background-color: var(--color-secondary);
    }

    .item {
        border-bottom: solid 1px var(--color-highlight);
    }
}

.selectedFeatureInfo {
    position: absolute;
    display: inline-block;
    height: auto;
    width: auto;
    z-index: 100;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    left: 50%;
    transform: translateX(3%);
    visibility: hidden;
    pointer-events: none;
}

.legend {
    /* height: 200px; */
    width: 300px;
    position: absolute;
    bottom: var(--mantine-spacing-xs);
    left: var(--mantine-spacing-xs);
    background-color: var(--color-secondary);
    z-index: 100;
    border-radius: 5px;
    padding: var(--mantine-spacing-xs);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.legendTitle {
    font-weight: 700;
}

.legendMarks {
    display: flex;
    justify-content: space-between;
}