.page {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--color-primary);
}

.map {
    width: 100%;
}

.label {
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.title {
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
    color: var(--color-text-primary);
}

.titleDisabled {
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
    color: var(--color-text-disabled);
}

/* .gradient .domain-min {
    position: absolute;
    left: 0;
    font-size: 11px;
    bottom: 3px;
}

.gradient .domain-med {
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    font-size: 11px;
    bottom: 3px;
}

.gradient .domain-max {
    position: absolute;
    right: 0;
    font-size: 11px;
    bottom: 3px;
}

.grad-step {
    display: inline-block;
    height: 20px;
    width: 1%;
} */

.layerConfigs {
    .root {
        color: var(--color-text-primary);
    }

    .chevron,
    .control,
    .label,
    .control:hover {
        color: var(--color-text-primary);
        background-color: var(--color-secondary);
    }

    .item {
        border-bottom: solid 1px var(--color-highlight);
    }
}